<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.chw.core.test">

    <uses-sdk tools:overrideLibrary="org.smartregister.chw.kvp" />

    <application
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <receiver
            android:name="io.ona.kujaku.receivers.KujakuNetworkChangeReceiver"
            android:exported="false"
            tools:node="merge" />
    </application>
</manifest>
